window {
    margin: 0px;
    border: 2px solid rgba(255, 255, 255, 0.175);
    background-color: rgba(30, 30, 30, 0.6);
    border-radius: 15px;
}

#input {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgba(40, 40, 40, 0.7);
    color: white;
    font-size: 18px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    padding: 5px;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    background-color: transparent;
}

#entry {
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    background-color: rgba(60, 60, 60, 0.7);
    color: white;
}

#entry:selected {
    background-color: rgba(200, 200, 200, 0.5);
    color: white;
}

#entry image {
    margin-right: 10px;
}
